In [1]:
import pandas as pd
import numpy as np
import os, glob

filename = os.path.join(os.getcwd(), "DF_FINAL.txt")
df = pd.read_table(filename)
df

,Unnamed: 0,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,arr_id_count,visits,visit_count
0,0,AC4592fa29-384c-4d58-a74b-2ac5780e884f,3/14/18,4/8/18,0.0,NaN,1.0,0.0,0.0,0.0,0.0,20.0,1.0,6.0
1,1,AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc,NaN,NaN,0.0,NaN,1.0,0.0,0.0,0.0,1.0,21.0,2.0,14.0
2,2,AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08,3/7/18,4/2/18,0.0,185.0,1.0,0.0,0.0,0.0,0.0,21.0,1.0,6.0
3,3,ACe990a57f-8061-4303-97f6-83b6c580a5f1,NaN,NaN,0.0,324.0,1.0,0.0,0.0,0.0,0.0,18.0,2.0,18.0
4,4,ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce,3/28/18,4/23/18,0.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900130,900130,ACb9f5f357-f252-4256-b8ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900131,900131,AC28d3d42c-6aaf-4c69-b7ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900132,900132,ACee0312f3-a6ea-4ad8-83ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900133,900133,AC3da9a41e-21aa-48fe-9abac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900134,900134,AC2b0e3c85-3ff8-45e5-adac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [2]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [3]:
df.sort_values('cycle_dt')

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,arr_id_count,visits,visit_count
799463,ACc3698c9b-f120-45a5-80c2-086d73e8ac83,-1,-1,0.0,285.0,0.0,0.0,0.0,0.0,0.0,18.0,2.0,12.0
55422,AC43f651ac-e84d-4698-b91e-0338c74d5be9,-1,-1,0.0,398.0,1.0,0.0,0.0,0.0,0.0,18.0,1.0,11.0
723726,ACa37f5de8-8b61-4946-8b75-76d3bd749d8b,-1,-1,0.0,400.0,1.0,0.0,0.0,0.0,0.0,18.0,1.0,11.0
121440,AC04039357-163b-4772-80d3-02344666a218,-1,-1,0.0,422.0,1.0,1.0,0.0,0.0,0.0,19.0,1.0,12.0
188233,ACf7d5e6c2-be48-4f94-a494-16261563da79,-1,-1,0.0,NaN,1.0,0.0,0.0,0.0,0.0,21.0,4.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
900130,ACb9f5f357-f252-4256-b8ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900131,AC28d3d42c-6aaf-4c69-b7ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900132,ACee0312f3-a6ea-4ad8-83ac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900133,AC3da9a41e-21aa-48fe-9abac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
900134,AC2b0e3c85-3ff8-45e5-adac_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [4]:
df.dtypes

ac_id                         object
cycle_dt                      object
payment_due_dt                object
new_account_indicator        float64
member_since_in_months       float64
spend_active                 float64
is_active_balance            float64
has_credit_limit_reached     float64
is_revolving                 float64
has_spend_at_any_merchant    float64
arr_id_count                 float64
visits                       float64
visit_count                  float64
dtype: object

In [5]:
freq = df['cycle_dt'].str.contains('-1').value_counts()

In [6]:
freq

False    805566
True        303
Name: cycle_dt, dtype: int64

In [7]:
df = df.sort_values('cycle_dt')

In [8]:
df.head(10)

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,arr_id_count,visits,visit_count
799463,ACc3698c9b-f120-45a5-80c2-086d73e8ac83,-1,-1,0.0,285.0,0.0,0.0,0.0,0.0,0.0,18.0,2.0,12.0
55422,AC43f651ac-e84d-4698-b91e-0338c74d5be9,-1,-1,0.0,398.0,1.0,0.0,0.0,0.0,0.0,18.0,1.0,11.0
723726,ACa37f5de8-8b61-4946-8b75-76d3bd749d8b,-1,-1,0.0,400.0,1.0,0.0,0.0,0.0,0.0,18.0,1.0,11.0
121440,AC04039357-163b-4772-80d3-02344666a218,-1,-1,0.0,422.0,1.0,1.0,0.0,0.0,0.0,19.0,1.0,12.0
188233,ACf7d5e6c2-be48-4f94-a494-16261563da79,-1,-1,0.0,NaN,1.0,0.0,0.0,0.0,0.0,21.0,4.0,40.0
486961,ACb234baf8-c701-4323-8f27-f7b324408375,-1,-1,0.0,NaN,1.0,0.0,0.0,0.0,0.0,22.0,1.0,10.0
559616,AC1a798748-b1fc-48eb-aae7-6a4de85596b4,-1,-1,0.0,NaN,1.0,0.0,1.0,0.0,0.0,21.0,2.0,22.0
480058,AC45041269-9cea-4298-bd4c-59ec528c0712,-1,-1,0.0,40.0,1.0,0.0,0.0,0.0,0.0,17.0,NaN,8.0
708822,AC3478a790-7244-4269-9781-3a0252b9baed,-1,-1,0.0,82.0,1.0,1.0,0.0,0.0,0.0,18.0,1.0,7.0
447635,AC45c458c1-80c6-4f54-aa0e-af175fbb0627,-1,-1,0.0,NaN,1.0,0.0,0.0,0.0,0.0,18.0,1.0,11.0

In [9]:
df = df.drop(df.index[0:303])

In [10]:
df.isna().sum()

ac_id                             0
cycle_dt                      94266
payment_due_dt                94266
new_account_indicator           135
member_since_in_months       367411
spend_active                    135
is_active_balance               135
has_credit_limit_reached        135
is_revolving                    135
has_spend_at_any_merchant       135
arr_id_count                    110
visits                       296421
visit_count                     209
dtype: int64

In [11]:
df = df.fillna(df.mode().iloc[0])

In [12]:
from datetime import datetime

cycle = df['cycle_dt'].tolist()
payment = df['payment_due_dt'].tolist()
diff = []
for i in range(0, 899832):
    date1 = datetime.strptime(cycle[i], "%m/%d/%y")
    date2 = datetime.strptime(payment[i], "%m/%d/%y")
    diff.append(abs(date2 - date1))
df['diff_dates'] = diff

In [13]:
df

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,arr_id_count,visits,visit_count,diff_dates
534210,AC1c9695df-5b31-4b3e-a306-8d94dae46a56,3/11/18,4/5/18,0.0,195.0,1.0,1.0,0.0,0.0,0.0,17.0,4.0,40.0,25 days
535568,ACbd84f437-62cf-44eb-899b-4c6f5d032d09,3/11/18,4/5/18,0.0,263.0,1.0,0.0,0.0,0.0,0.0,23.0,1.0,11.0,25 days
535709,AC2e53a731-95fd-42be-b646-431496d7b684,3/11/18,4/5/18,0.0,48.0,0.0,1.0,0.0,0.0,0.0,22.0,1.0,8.0,25 days
62727,AC149363e1-36c8-482a-9ada-6c6c33133c2b,3/11/18,4/5/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,17.0,1.0,10.0,25 days
62755,ACdda69c4d-e28f-4fb8-8d5a-98deb1c05538,3/11/18,4/5/18,0.0,48.0,1.0,1.0,0.0,0.0,0.0,20.0,1.0,11.0,25 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900130,ACb9f5f357-f252-4256-b8ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,42 days
900131,AC28d3d42c-6aaf-4c69-b7ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,42 days
900132,ACee0312f3-a6ea-4ad8-83ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,42 days
900133,AC3da9a41e-21aa-48fe-9abac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,42 days
900134,AC2b0e3c85-3ff8-45e5-adac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,8.0,42 days

In [14]:
df.describe()

,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,arr_id_count,visits,visit_count,diff_dates
count,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832.000000,899832
mean,0.002845,128.995475,0.823368,0.117763,0.016663,0.051104,0.106655,19.499956,1.440317,11.571432,26 days 01:00:22.660229909
std,0.053262,117.661176,0.381357,0.322328,0.128006,0.220210,0.308675,2.081001,0.774740,7.761051,6 days 03:41:17.491149741
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,15 days 00:00:00
25%,0.000000,48.000000,1.000000,0.000000,0.000000,0.000000,0.000000,18.000000,1.000000,7.000000,25 days 00:00:00
50%,0.000000,48.000000,1.000000,0.000000,0.000000,0.000000,0.000000,20.000000,1.000000,9.000000,25 days 00:00:00
75%,0.000000,191.000000,1.000000,0.000000,0.000000,0.000000,0.000000,21.000000,2.000000,14.000000,25 days 00:00:00
max,1.000000,790.000000,1.000000,1.000000,1.000000,1.000000,1.000000,28.000000,9.000000,126.000000,42 days 00:00:00

In [15]:
flag = []
for i in range(1,31):
    flag = []
    date = "3/"+str(i)+"/18"
    flag.append(date)
    df["Cycle: 3/"+str(i)+"/18"] = df['cycle_dt'].isin(flag).astype(int)

In [16]:
df

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,...,Cycle: 3/21/18,Cycle: 3/22/18,Cycle: 3/23/18,Cycle: 3/24/18,Cycle: 3/25/18,Cycle: 3/26/18,Cycle: 3/27/18,Cycle: 3/28/18,Cycle: 3/29/18,Cycle: 3/30/18
534210,AC1c9695df-5b31-4b3e-a306-8d94dae46a56,3/11/18,4/5/18,0.0,195.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
535568,ACbd84f437-62cf-44eb-899b-4c6f5d032d09,3/11/18,4/5/18,0.0,263.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
535709,AC2e53a731-95fd-42be-b646-431496d7b684,3/11/18,4/5/18,0.0,48.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62727,AC149363e1-36c8-482a-9ada-6c6c33133c2b,3/11/18,4/5/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62755,ACdda69c4d-e28f-4fb8-8d5a-98deb1c05538,3/11/18,4/5/18,0.0,48.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900130,ACb9f5f357-f252-4256-b8ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900131,AC28d3d42c-6aaf-4c69-b7ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900132,ACee0312f3-a6ea-4ad8-83ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900133,AC3da9a41e-21aa-48fe-9abac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900134,AC2b0e3c85-3ff8-45e5-adac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
flag = []
for i in range(1,31):
    flag = []
    date = "4/"+str(i)+"/18"
    flag.append(date)
    df["Payment: 4/"+str(i)+"/18"] = df['payment_due_dt'].isin(flag).astype(int)

In [18]:
df

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant,...,Payment: 4/21/18,Payment: 4/22/18,Payment: 4/23/18,Payment: 4/24/18,Payment: 4/25/18,Payment: 4/26/18,Payment: 4/27/18,Payment: 4/28/18,Payment: 4/29/18,Payment: 4/30/18
534210,AC1c9695df-5b31-4b3e-a306-8d94dae46a56,3/11/18,4/5/18,0.0,195.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
535568,ACbd84f437-62cf-44eb-899b-4c6f5d032d09,3/11/18,4/5/18,0.0,263.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
535709,AC2e53a731-95fd-42be-b646-431496d7b684,3/11/18,4/5/18,0.0,48.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62727,AC149363e1-36c8-482a-9ada-6c6c33133c2b,3/11/18,4/5/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
62755,ACdda69c4d-e28f-4fb8-8d5a-98deb1c05538,3/11/18,4/5/18,0.0,48.0,1.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900130,ACb9f5f357-f252-4256-b8ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900131,AC28d3d42c-6aaf-4c69-b7ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900132,ACee0312f3-a6ea-4ad8-83ac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900133,AC3da9a41e-21aa-48fe-9abac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
900134,AC2b0e3c85-3ff8-45e5-adac_id,3/2/18,4/13/18,0.0,48.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df.to_csv('Account_FE.txt', sep='\t')