<a href="https://colab.research.google.com/github/labachu/Arrival-Probability/blob/main/amex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Account Data

In [5]:
import pandas as pd
import numpy as np
import os, glob

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
accountData = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/account.txt"
df1=pd.read_table(accountData)
df1.head(10)

                                    ac_id
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce
5  AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff
6  ACbfe839d3-6893-4c22-852e-7f40b19aba0f
7  ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1
8  AC8520aa82-7936-4fb8-9dbe-70afc9c524a7
9  ACb7273b5d-8be1-47f9-8318-edd6fd5ca648

In [8]:
df1.shape

(900000, 1)

In [9]:
df1_check=df1.groupby(['ac_id']).size().reset_index(name='count')
df1_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [10]:
account_cycle_tenure = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/account_cycle_tenure.txt"
df2=pd.read_table(account_cycle_tenure)
df2.head(10)

                                    ac_id cycle_dt payment_due_dt
0  AC426748db-ea46-4d4b-871d-daf2f6f4dd42  3/29/18        4/24/18
1  AC4c3eb8e1-453c-4a3d-9a31-7049effa0d1a  3/29/18        4/24/18
2  AC2b35a028-0479-4f02-86c9-9aa3382f49b3  3/29/18        4/24/18
3  ACd733d78b-0db5-450b-bf19-d1f371e073fb  3/29/18        4/24/18
4  ACb11c3ad1-f50f-4ef6-9517-95c8f436a911  3/29/18        4/24/18
5  ACc27062d4-1fae-4f7c-a3b2-6f3024b1cbd6  3/29/18        4/24/18
6  AC0cfb13d0-736b-4445-9a67-b53de8b89b61  3/29/18        4/24/18
7  ACafbf8993-d0ae-44fc-949e-f1df95260d94  3/29/18        4/24/18
8  AC2cb8de20-c707-4c3c-ab9b-28fd3c6ec211  3/29/18        4/24/18
9  AC2c55e81d-57ac-488c-9d74-95a7200df4f7  3/29/18        4/24/18

In [11]:
df2.shape

(805869, 3)

In [12]:
df2_check=df2.groupby(['ac_id']).size().reset_index(name='count')
df2_check

                                         ac_id  count
0       AC00001abb-e40b-4a19-978d-cc6becf33489      1
1       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
2       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
3       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
4       AC0000a2fa-f6bf-4fc9-afb6-448f14bdd6b1      1
...                                        ...    ...
805864  ACffff7058-c1a4-45ea-9e0e-ab2c55a1b1d0      1
805865  ACffff8281-2731-4676-8856-acf3a588cf73      1
805866  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
805867  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
805868  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[805869 rows x 2 columns]

In [13]:
account_new_indicator = '/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/account_new_indicator.txt'
df3=pd.read_table(account_new_indicator)
df3.head(10)

                                    ac_id  new_account_indicator
0  ACb1711af2-92c1-430c-ba0e-840d6139939c                      1
1  AC1c46776c-e9a2-406a-9edb-6abd04471023                      1
2  AC21919775-c797-497d-8eae-157fdd71f9f6                      1
3  AC2876beb8-c307-4499-a3d2-abd4b26b566d                      1
4  ACf59d8398-07b7-44d9-8926-73520fc3f2b4                      1
5  ACa9495a29-32df-452b-8c86-283c5f200f93                      1
6  ACeca23577-5fa8-4b36-b6d0-fe2081060173                      1
7  ACcc9f851e-362b-4647-b3fa-35d1a55daa48                      1
8  AC2f69180c-4435-48d7-a47e-ce07c9c1542a                      1
9  ACf7114c18-74e3-4e4e-9fa0-1f0fa6c43974                      1

In [14]:
df3.shape

(900000, 2)

In [15]:
df3_check=df3.groupby(['ac_id']).size().reset_index(name = 'count')
df3_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [16]:
account_tenure='/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/account_tenure.txt'
df4=pd.read_table(account_tenure)
df4.head(10)

                                    ac_id  member_since_in_months
0  ACebd244ca-9b9f-4371-926c-9d424a8d5fe8                      57
1  AC04451007-0259-484a-a7f0-4b1c976c24f0                      78
2  AC669f1741-d33d-4128-8fb9-2fa17a08faa5                      85
3  AC3ce6890c-1023-4792-8b24-e8ea5fd7a961                      83
4  AC5f411b49-4472-4088-9e04-a4e3bf969364                      98
5  AC166ab87d-acce-4aec-bc2c-fe610026e8a5                      80
6  ACbaee9215-ea41-4bd5-8aa4-550476aa9093                      51
7  ACa53ff5ba-3daf-4c78-a9eb-628bf0aea94a                      99
8  ACd0b3c7fb-e47c-4f85-83b6-8169d027b22d                      93
9  AC50081565-8df0-4834-9b7d-2e14db729e7b                      98

In [17]:
df4.shape

(806172, 2)

In [18]:
df4_check=df4.groupby(['ac_id']).size().reset_index(name = 'count')
df4_check

                                         ac_id  count
0       AC00001abb-e40b-4a19-978d-cc6becf33489      2
1       AC000061e1-9f80-4765-8ad4-993d5ab83e39      2
2       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      2
3       AC0000a2fa-f6bf-4fc9-afb6-448f14bdd6b1      1
4       AC0000b6cd-f27e-4c73-8d97-3510b8192c84      2
...                                        ...    ...
532608  ACffff7058-c1a4-45ea-9e0e-ab2c55a1b1d0      1
532609  ACffff8281-2731-4676-8856-acf3a588cf73      2
532610  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
532611  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
532612  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[532613 rows x 2 columns]

In [19]:
df4_check.sort_values('count', ascending=False)

                                         ac_id  count
454499  ACda4abff0-8e10-416a-a32b-5cc92875f6df      9
63810   AC1eae85d2-b994-4745-9c85-6f3e5120959a      9
454643  ACda5c92b2-15a7-483d-8d23-be5d1db7d6d0      8
263429  AC7e9f0ff6-212e-4870-a697-6574c2450736      8
118836  AC391ca4ff-4ccb-46a5-b013-2a94922228a3      8
...                                        ...    ...
219419  AC696efeea-e0e6-4c71-a00c-78d9ff462e22      1
219418  AC696ee881-4282-409f-87fd-533e06cc97db      1
219414  AC696eab2e-3b88-45e8-989e-29838b9b1a18      1
219413  AC696e90cd-d3ad-4a4c-8fbc-f7663e9dfda2      1
532612  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[532613 rows x 2 columns]

In [20]:
spend_active_indicator = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/spend_active_indicator.txt"
df5 = pd.read_table(spend_active_indicator)
df5.head(10)

                                    ac_id  spend_active
0  AC25f3fe5d-2161-4f7e-be4c-4c9e41a4518a             1
1  AC6c2d4ee1-f374-48b4-89e0-9078d3789d22             1
2  ACde82ec8e-03b5-4629-b39d-2cbe672c6c6c             1
3  ACb8ac8e27-a2ba-4856-b9ec-2567dcdd0b09             1
4  AC167305d4-11c4-4fc5-a7ae-a429c5c86297             1
5  AC2168416e-7f72-40ab-983c-86dc8c10107c             1
6  ACc2b97855-380c-4f63-a5a8-608b66ba7d01             1
7  AC772951db-3130-48b5-b73a-da88ff8609ad             1
8  AC4993e888-6484-4a32-a42e-31f6c30da007             1
9  AC07300e86-24b1-4915-971b-36de8363144f             1

In [21]:
df5.shape

(900000, 2)

In [22]:
df5_check = df5.groupby(['ac_id']).size().reset_index(name = 'count')
df5_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [23]:
spend_balance_active_indicator = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/spend_balance_active_indicator.txt"
df6 = pd.read_table(spend_balance_active_indicator)
df6.head(10)

                                    ac_id  is_active_balance
0  AC6b61e2c7-fb0d-449f-85cd-c44e3f61ffe1                  1
1  ACe6463f44-2c19-4c54-a2ae-3e5e3d536b20                  1
2  AC11c06926-35b3-4456-ac41-d727c44798c5                  1
3  AC85ad3b3b-3931-4251-baef-1cb6af9b463e                  1
4  AC62b61038-ec41-4699-a067-914b74f345a4                  1
5  ACcbe2c3a1-2be7-46cb-b040-d13a79c2ff05                  1
6  ACd0524e43-da35-4b6e-8de4-79288f5ba245                  1
7  AC316f1ffa-8916-492a-aa85-b180f9b438fa                  1
8  AC031bf4c5-15dc-4791-9d11-d74986c48e00                  1
9  ACeb3dad41-88d9-49df-abe9-7b8b6646f49b                  1

In [24]:
df6.shape

(900000, 2)

In [25]:
df6_check = df6.groupby(['ac_id']).size().reset_index(name = 'count')
df6_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [26]:
spend_high_utilized_indicator = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/spend_high_utilized_indicator.txt"
df7 = pd.read_table(spend_high_utilized_indicator)
df7.head(10)

                                    ac_id  has_credit_limit_reached
0  ACedddb71a-3d78-4c02-97b2-a1cf5b980db9                         1
1  AC4cb6d4bf-e8d7-4111-b4e2-abd6d28cce9c                         1
2  ACb68c48b9-09a5-4319-9433-a43bf88ba58f                         1
3  AC42794cde-9d0c-46f6-baca-3160a8dbdd85                         1
4  AC8f1f964f-b32d-4cce-9e5b-cded8ff4d542                         1
5  ACf0ac5d03-1d69-4550-99a6-2fb91c09f845                         1
6  AC5e5652e8-fa72-4dbe-9de1-6c1e64d4aef3                         1
7  ACbea60ae9-4df7-4b89-bab5-3d9038f7eaf5                         1
8  AC87f0a5ae-83eb-44c7-944d-739d5cbfc2a8                         1
9  ACedd0808f-d2a5-4310-98ad-b01cce584c5d                         1

In [27]:
df7.shape

(900000, 2)

In [28]:
df7_check = df7.groupby(['ac_id']).size().reset_index(name = 'count')
df7_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [29]:
spend_revolving_aif_indicator = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/spend_revolving_aif_indicator.txt"
df8 = pd.read_table(spend_revolving_aif_indicator)
df8.head(10)

                                    ac_id  is_revolving
0  AC207731d7-5057-4035-8718-8c2abf2c43e0             1
1  AC3fbae2df-f959-4676-8e4e-4c9b897acda7             1
2  AC8e921afe-a73b-4930-8e03-16a7d4ef420c             1
3  AC68b095ba-2948-4465-aca8-b9c8a18b1ac0             1
4  AC320ccd2f-502c-47cd-b9f4-74eeae8e36eb             1
5  AC27afc607-1079-4068-a3d1-21c082514aaa             1
6  AC0f41a8c6-2741-4e2a-ae5d-508930901770             1
7  ACd45c5c4d-f04c-484f-aeb6-6f51eadda5ac             1
8  ACb61714f4-74fa-42b7-a3d5-c820c080c252             1
9  AC886489cb-5324-4718-b8ea-76fa8a295ff6             1

In [30]:
df8.shape

(900000, 2)

In [31]:
df8_check = df8.groupby(['ac_id']).size().reset_index(name = 'count')
df8_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [32]:
spend_se_spend_indicator='/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/AccountData/spend_se_spend_indicator.txt'
df9 = pd.read_table(spend_revolving_aif_indicator)
df9.head(10)

                                    ac_id  is_revolving
0  AC207731d7-5057-4035-8718-8c2abf2c43e0             1
1  AC3fbae2df-f959-4676-8e4e-4c9b897acda7             1
2  AC8e921afe-a73b-4930-8e03-16a7d4ef420c             1
3  AC68b095ba-2948-4465-aca8-b9c8a18b1ac0             1
4  AC320ccd2f-502c-47cd-b9f4-74eeae8e36eb             1
5  AC27afc607-1079-4068-a3d1-21c082514aaa             1
6  AC0f41a8c6-2741-4e2a-ae5d-508930901770             1
7  ACd45c5c4d-f04c-484f-aeb6-6f51eadda5ac             1
8  ACb61714f4-74fa-42b7-a3d5-c820c080c252             1
9  AC886489cb-5324-4718-b8ea-76fa8a295ff6             1

In [33]:
df9.shape

(900000, 2)

In [34]:
df9_check = df9.groupby(['ac_id']).size().reset_index(name = 'count')
df9_check

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      1
1       AC00001abb-e40b-4a19-978d-cc6becf33489      1
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      1
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      1
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      1
...                                        ...    ...
899995  ACffff8281-2731-4676-8856-acf3a588cf73      1
899996  ACffff8d20-b401-4bff-8ec0-e308c20f9822      1
899997  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
899998  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      1

[900000 rows x 2 columns]

In [35]:
from functools import reduce

In [36]:
accountDFS=[df1,df2, df3, df4, df5, df6, df7, df8, df9]

In [37]:
account_df1=reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), accountDFS).fillna('n/a')

In [38]:
account_df1.head(10)

,ac_id,cycle_dt,payment_due_dt,new_account_indicator,member_since_in_months,spend_active,is_active_balance,has_credit_limit_reached,is_revolving_x,is_revolving_y
0,AC4592fa29-384c-4d58-a74b-2ac5780e884f,3/14/18,4/8/18,0,n/a,1,0,0,0,0
1,AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc,n/a,n/a,0,n/a,1,0,0,0,0
2,AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08,3/7/18,4/2/18,0,185.0,1,0,0,0,0
3,AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08,3/7/18,4/2/18,0,109.0,1,0,0,0,0
4,ACe990a57f-8061-4303-97f6-83b6c580a5f1,n/a,n/a,0,62.0,1,0,0,0,0
5,ACe990a57f-8061-4303-97f6-83b6c580a5f1,n/a,n/a,0,324.0,1,0,0,0,0
6,ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce,3/28/18,4/23/18,0,19.0,1,0,0,0,0
7,AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff,3/23/18,4/17/18,0,14.0,1,1,0,0,0
8,ACbfe839d3-6893-4c22-852e-7f40b19aba0f,3/16/18,4/10/18,0,n/a,1,0,0,0,0
9,ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1,3/25/18,4/19/18,0,248.0,1,0,0,0,0

#Dependent Variables

In [39]:
dependent_1 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_1.txt"
df_d1 = pd.read_table(dependent_1)
df_d1.head(10)

                                    ac_id  arr_ind_1
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f        0.0
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc        0.0
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08        0.0
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1        0.0
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce        0.0
5  AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff        0.0
6  ACbfe839d3-6893-4c22-852e-7f40b19aba0f        0.0
7  ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1        0.0
8  AC8520aa82-7936-4fb8-9dbe-70afc9c524a7        0.0
9  ACb7273b5d-8be1-47f9-8318-edd6fd5ca648        0.0

In [40]:
df_d1.shape

(900000, 2)

In [73]:
df_d1_check=df_d1.groupby(['ac_id']).size().reset_index(name = 'arrival_indicator').sort_values(by='arrival_indicator',ascending=False)
df_d1_check

                                         ac_id  arrival_indicator
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d                  1
600003  ACaa7fcda0-e28c-4399-b3f7-0073135bbb39                  1
599992  ACaa7f5e3c-3305-4f82-a047-d0fb7850d7ca                  1
599993  ACaa7f616d-1b53-47e5-9525-3a6de5751295                  1
599994  ACaa7f6a5a-ddb2-424b-b073-2edbe4641010                  1
...                                        ...                ...
300004  AC5537c0ce-c127-4430-ba5b-d82ba825cd0d                  1
300005  AC5537cbe2-7fdd-4856-bee9-976c0341b2a8                  1
300006  AC5537d09a-f40c-48f8-8f77-5642367ab06e                  1
300007  AC5537ea5f-8aa5-4334-88ba-0af74fd88904                  1
899999  ACffffef1f-cfbc-4973-8926-35ef7a1491ab                  1

[900000 rows x 2 columns]

In [42]:
df_d1_check2=df_d1_check[df_d1_check2.duplicated()]

NameError: ignored

In [82]:
df_d1_check2.head(10)

3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
dtype: bool

In [83]:
dependent_2 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_2.txt"
df_d2 = pd.read_table(dependent_2)
df_d2.head(10)

                                    ac_id  arr_ind_2
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f        0.0
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc        0.0
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08        0.0
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1        0.0
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce        0.0
5  AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff        0.0
6  ACbfe839d3-6893-4c22-852e-7f40b19aba0f        0.0
7  ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1        0.0
8  AC8520aa82-7936-4fb8-9dbe-70afc9c524a7        0.0
9  ACb7273b5d-8be1-47f9-8318-edd6fd5ca648        0.0

In [69]:
dependent_3 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_3.txt"
df_d3 = pd.read_table(dependent_3)
df_d3.head(10)

                                    ac_id  arr_ind_3
0  AC03b31f5e-7c16-44ea-95ec-75b320c0f34c        0.0
1  AC71562f24-654b-4481-bae4-499b41d8c3d8        0.0
2  ACa23d5227-59db-45f8-8521-860bc878e167        0.0
3  ACdf99f811-bb95-4d25-bd1e-c1bf57c01494        0.0
4  ACb73271a4-a58e-472a-9d36-61b91dc372ab        0.0
5  AC6b8f4120-3d39-4a7c-9d32-ad6a52773de3        0.0
6  ACc1da0d05-ed13-480b-8028-2e16a3dc5cf3        0.0
7  AC425acb46-eebb-4423-a748-cdba5b28afa2        0.0
8  ACa596ccce-1544-4ba8-af6b-768f8ad27950        0.0
9  AC33cc6150-5957-439f-8eca-326303f545d7        0.0

In [70]:
dependent_4 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_4.txt"
df_d4 = pd.read_table(dependent_4)
df_d4.head(10)

                                    ac_id  arr_ind_4
0  AC6cda845b-8ea5-4f2e-8235-f4fad91ff2aa        0.0
1  AC62a22edd-b36c-48d1-9280-2726422411e1        0.0
2  ACd1b51193-0f92-4ba1-aa5b-bb0bd51797ff        0.0
3  AC1e782206-ebe9-461e-9e56-1ab77ac8edce        0.0
4  AC2d95bee2-70f2-408d-a9dd-5488ded5cdd0        0.0
5  AC8788a1ce-8e5e-4889-9585-4f734deaba15        0.0
6  AC541345a4-c38d-46b0-a779-546948c3b0af        0.0
7  ACc9293f85-ed3a-4918-a5ec-b8d0064bcb77        0.0
8  AC987a62b7-99fa-4229-8bb1-7be41d4231e3        0.0
9  ACfae0fc41-e826-4032-be10-01d835174f06        0.0

In [71]:
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
df_d5.head(10)

                                    ac_id  arr_ind_5
0  AC6c27998e-59e3-47b3-b24a-14ac55b507b5        0.0
1  ACbc20b173-216b-4ada-9483-c587086ec3ef        0.0
2  ACc7214b5f-85c0-417c-a8f9-d5e94c315bf6        0.0
3  AC34639966-afe2-479e-9329-63ecd10feb72        0.0
4  AC7d2123b9-6ceb-40d2-a3bd-03fe4bfb38b2        0.0
5  ACf18fff68-7218-4458-9ce4-44484b123c82        0.0
6  AC4ac0fd50-0ae2-4962-8062-963af597653d        0.0
7  ACf87bea0c-fcc7-49a3-aab0-3eb0c336e285        0.0
8  AC0cb3152a-4888-46d3-be12-15706efbf517        0.0
9  ACdd47178d-d6b9-4bfc-abe9-0946141123c6        0.0

In [ ]:
dependent_6 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d6 = pd.read_table(dependent_5)
dependent_6 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_6.txt"
df_d7 = pd.read_table(dependent_6)
dependent_7 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_7.txt"
df_d5 = pd.read_table(dependent_7)
dependent_8 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)
dependent_5 = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariables/dependent_5.txt"
df_d5 = pd.read_table(dependent_5)

In [ ]:
df_d1_check=df_d1.groupby(['ac_id']).size().reset_index(name = 'arrival_indicator').sort_values(by='arrival_indicator',ascending=False)
df_d1_check

In [72]:
pathName=drive.files().list('/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/DependentVariable'
numFiles=[]
fileNames=os.listdir(pathName)
for fileNames in fileNames:
  if fileNames.endswith(".txt"):
    numFiles.append(fileNames)

SyntaxError: ignored

In [ ]:
for i in numFiles:
  file=open(os.path.join(pathName,i))
  reader=txt.reader(file, delimiter=',')
  print(i)

#Web and Purchase

In [50]:
purchase_records='/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/web-and-purchase_logs/purchase_records.txt'
df_wp1=pd.read_table(purchase_records,header=None)
df_wp1.columns=['ac_id', 'purchase_date']
df_wp1.head(10)

                                    ac_id purchase_date
0  AC6fe3b89d-437f-49ca-825a-b9d65f117f94       6/17/17
1  AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
2  AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
3  ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
4  ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
5  ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17
6  AC08b4867c-6097-4527-afa6-2113dceb1fd4       6/17/17
7  AC43c46d79-e344-4498-ba2b-bd175f586128       6/17/17
8  ACde9adb6e-3030-4899-9247-0d9d9a95f2b5       6/17/17
9  ACbf8bdcac-10cf-4905-9748-38485c7da428       6/17/17

In [51]:
df_wp1.shape

(7229674, 2)

In [53]:
df_wp1_group = df_wp1.groupby(['ac_id']).size().reset_index(name = 'Purchases')
df_wp1_group

                                         ac_id  Purchases
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d         13
1       AC00001abb-e40b-4a19-978d-cc6becf33489          8
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39          5
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e          8
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d          6
...                                        ...        ...
899745  ACffff8d20-b401-4bff-8ec0-e308c20f9822         10
899746  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d         10
899747  ACffffd50a-291a-4067-92ae-9f8e8c629a9e          6
899748  ACffffef1f-cfbc-4973-8926-35ef7a1491ab          5
899749                                   ac_id          8

[899750 rows x 2 columns]

In [55]:
updated_wp1 = df_wp1_group.drop(899749,axis =0)
updated_wp1

                                         ac_id  Purchases
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d         13
1       AC00001abb-e40b-4a19-978d-cc6becf33489          8
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39          5
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e          8
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d          6
...                                        ...        ...
899744  ACffff8281-2731-4676-8856-acf3a588cf73         10
899745  ACffff8d20-b401-4bff-8ec0-e308c20f9822         10
899746  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d         10
899747  ACffffd50a-291a-4067-92ae-9f8e8c629a9e          6
899748  ACffffef1f-cfbc-4973-8926-35ef7a1491ab          5

[899749 rows x 2 columns]

In [57]:
webVisit = "/content/drive/MyDrive/BTTAI Individual/BTTAI DATA/web-and-purchase_logs/webvisit.txt"
df_wp2 = pd.read_table(webVisit, header = None)
df_wp2.columns = ['ac_id', 'visited_date', 'visited_page']
df_wp2.head()

                                    ac_id visited_date   visited_page
0  AC6ebf5f05-f229-43d4-a810-2a8492180127      6/17/17
1  ACce4cd8ea-8b3d-4767-9609-b353d1f633c0      6/17/17
2  AC7d351059-47ef-4011-91d6-1ad803204854      6/17/17      MYACCOUNT
3  AC763265f0-40ac-400f-ad11-897ccdeb7d23      6/17/17        REWARDS
4  ACd89983be-b4e9-4e84-8936-f055f4ed3e7d      6/17/17  PRICINGENGINE

In [58]:
df_wp2.shape

(1000000, 3)

In [59]:
(df_wp2['visited_page'].values == ' ').sum()

249869

Return a df with multiple visited dates and visit pages and number of visits

In [68]:
df_wp2_group = df_wp2.groupby(by=['ac_id']).sum()
df_wp2_group

,visited_date,visited_page
ac_id,,
AC00001abb-e40b-4a19-978d-cc6becf33489,10/8/1710/3/17,REWARDSREWARDS
AC000061e1-9f80-4765-8ad4-993d5ab83e39,1/25/186/22/18,
AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e,6/1/1710/17/1711/17/17,PRICINGENGINEMYACCOUNT
AC0000754d-ba7a-45ed-b9a1-629d0bb0060d,10/11/1710/15/17,MYACCOUNTPRICINGENGINE
AC0000b6cd-f27e-4c73-8d97-3510b8192c84,6/8/18,REWARDS
...,...,...
ACffff7058-c1a4-45ea-9e0e-ab2c55a1b1d0,9/23/176/2/17,PRICINGENGINEMYACCOUNT
ACffff8281-2731-4676-8856-acf3a588cf73,11/30/17,MYACCOUNT
ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d,1/16/18,REWARDS
ACffffd50a-291a-4067-92ae-9f8e8c629a9e,6/16/175/31/17,MYACCOUNTMYACCOUNT
ac_id,6/19/17,MYACCOUNT

# Combine data