In [1]:
import pandas as pd
import numpy as np
import os, glob

filename = os.path.join(os.getcwd(), "WebPurchase", "purchase_records.txt")
df = pd.read_table(filename, header=None)
df.columns = ['ac_id','purchase_date']

In [2]:
df.head(10)

                                    ac_id purchase_date
0  AC6fe3b89d-437f-49ca-825a-b9d65f117f94       6/17/17
1  AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
2  AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
3  ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
4  ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
5  ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17
6  AC08b4867c-6097-4527-afa6-2113dceb1fd4       6/17/17
7  AC43c46d79-e344-4498-ba2b-bd175f586128       6/17/17
8  ACde9adb6e-3030-4899-9247-0d9d9a95f2b5       6/17/17
9  ACbf8bdcac-10cf-4905-9748-38485c7da428       6/17/17

In [3]:
filename = os.path.join(os.getcwd(), "WebPurchase", "webvisit.txt")
df1 = pd.read_table(filename, header=None)
df1.columns = ['ac_id','webvisited_date','visited_page']
df1 = df1.replace(r'^\s*$', np.nan, regex=True)
df1.head(10)

                                    ac_id webvisited_date   visited_page
0  AC6ebf5f05-f229-43d4-a810-2a8492180127         6/17/17            NaN
1  ACce4cd8ea-8b3d-4767-9609-b353d1f633c0         6/17/17            NaN
2  AC7d351059-47ef-4011-91d6-1ad803204854         6/17/17      MYACCOUNT
3  AC763265f0-40ac-400f-ad11-897ccdeb7d23         6/17/17        REWARDS
4  ACd89983be-b4e9-4e84-8936-f055f4ed3e7d         6/17/17  PRICINGENGINE
5  AC8ee59710-eb2f-4b48-a5c5-ae1627aba281         6/17/17  PRICINGENGINE
6  AC61169457-6279-428a-8414-ae968d891aa8         6/17/17      MYACCOUNT
7  AC2182f0dd-61f5-4f07-8144-44330b16a940         6/17/17  PRICINGENGINE
8  AC78b5ae75-a46c-4d84-a781-e29ba248ac52         6/17/17      MYACCOUNT
9  ACf5de13a2-16fa-4afe-be49-1d49c6ef6640         6/17/17  PRICINGENGINE

In [4]:
df.shape

(7229674, 2)

In [5]:
df1.shape

(1000000, 3)

Purchase records (df) much larger, contains whether customer made any purchase during the year. 

Web visit logs (df1) the history of customers at pages, not purchases.

In [6]:
from functools import reduce
dfs = [df,df1]
df_combo = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)

In [7]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
0,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/17/17,11/16/17,REWARDS
1,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/17/17,6/22/18,REWARDS
2,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/1/18,11/16/17,REWARDS
3,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/1/18,6/22/18,REWARDS
4,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,2/19/18,11/16/17,REWARDS
...,...,...,...,...
10414411,AC8862aa40-98c0-4c15-9ad2-7255a1ebda1e,NaN,10/3/17,NaN
10414412,ACbd08bd1e-c36e-482c-8886-5a6dab72f648,NaN,6/7/17,REWARDS
10414413,ACb1e1dd5d-4ef2-4343-831b-17e9df0c5550,NaN,12/1/17,REWARDS
10414414,AC94fd1935-a380-4d38-b318-ead9a840b276,NaN,1/22/18,MYACCOUNT
10414415,AC33ac7b14-0d06-4e34-9a41-591b54bf31a7,NaN,12/19/17,REWARDS

In [8]:
df_combo.dtypes

ac_id              object
purchase_date      object
webvisited_date    object
visited_page       object
dtype: object

In [9]:
df_combo = df_combo.sort_values(by=['ac_id'], ascending=False)

In [10]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
6102046,ac_id,8/8/17,6/19/17,MYACCOUNT
6102052,ac_id,1/10/18,6/19/17,MYACCOUNT
6102045,ac_id,10/10/17,6/19/17,MYACCOUNT
6102047,ac_id,4/3/18,6/19/17,MYACCOUNT
6102048,ac_id,2/17/18,6/19/17,MYACCOUNT
...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,NaN,NaN
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,NaN,NaN
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,NaN,NaN
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,NaN,NaN
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,NaN,NaN

In [11]:
df_combo = df_combo[df_combo.ac_id != 'ac_id']

In [12]:
df_combo.isna().sum()

ac_id                    0
purchase_date          287
webvisited_date    2380251
visited_page       4390491
dtype: int64

In [13]:
df_combo = df_combo.fillna(df_combo.mode().iloc[0])

In [14]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
3021719,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE
3021720,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE
3021722,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE
3021721,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE
3021718,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE
...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE

In [15]:
df_combo.isna().sum()

ac_id              0
purchase_date      0
webvisited_date    0
visited_page       0
dtype: int64

In [16]:
from datetime import datetime

In [17]:
purchasedate_1 = df_combo['purchase_date'].tolist()
webvisitdate_2 = df_combo['webvisited_date'].tolist()
diff = []
for i in range(0, 10414408):
    date1 = datetime.strptime(purchasedate_1[i], "%m/%d/%y")
    date2 = datetime.strptime(webvisitdate_2[i], "%m/%d/%y")
    diff.append(abs(date2 - date1))
df_combo['diff_dates'] = diff

In [18]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates
3021719,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days
3021720,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days
3021722,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days
3021721,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days
3021718,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days
...,...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days

In [19]:
df_combo.dtypes

ac_id                       object
purchase_date               object
webvisited_date             object
visited_page                object
diff_dates         timedelta64[ns]
dtype: object

In [20]:
df_combo.describe()

                        diff_dates
count                     10414408
mean   155 days 06:50:52.337492450
std    104 days 14:34:34.620793992
min                0 days 00:00:00
25%               66 days 00:00:00
50%              144 days 00:00:00
75%              231 days 00:00:00
max              424 days 00:00:00

In [21]:
df_combo_ranked = df_combo.groupby('ac_id')['diff_dates'].max().reset_index()
df_combo_ranked.columns = ['ac_id', 'Max Date Diff']
df_combo_ranked

                                         ac_id Max Date Diff
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      314 days
1       AC00001abb-e40b-4a19-978d-cc6becf33489      240 days
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      353 days
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      382 days
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      224 days
...                                        ...           ...
899921  ACffff8281-2731-4676-8856-acf3a588cf73      199 days
899922  ACffff8d20-b401-4bff-8ec0-e308c20f9822      379 days
899923  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      228 days
899924  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      331 days
899925  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      259 days

[899926 rows x 2 columns]

In [22]:
from functools import reduce
dfs = [df_combo, df_combo_ranked]
df_combined = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)

In [23]:
df_combined

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days
...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days

In [24]:
df_combo_min = df_combo.groupby('ac_id')['diff_dates'].min().reset_index()
df_combo_min.columns = ['ac_id', 'Min Date Diff']
df_combo_min

                                         ac_id Min Date Diff
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d       19 days
1       AC00001abb-e40b-4a19-978d-cc6becf33489       10 days
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39       41 days
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e        6 days
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d       22 days
...                                        ...           ...
899921  ACffff8281-2731-4676-8856-acf3a588cf73       23 days
899922  ACffff8d20-b401-4bff-8ec0-e308c20f9822        1 days
899923  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d       22 days
899924  ACffffd50a-291a-4067-92ae-9f8e8c629a9e       51 days
899925  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      150 days

[899926 rows x 2 columns]

In [25]:
from functools import reduce
dfs = [df_combined, df_combo_min]
df_combined1 = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)
df_combined1

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days
...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days

In [26]:
df_final = df_combined1

In [27]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days
...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days

In [28]:
df_final.dtypes

ac_id                       object
purchase_date               object
webvisited_date             object
visited_page                object
diff_dates         timedelta64[ns]
Max Date Diff      timedelta64[ns]
Min Date Diff      timedelta64[ns]
dtype: object

In [29]:
df_final.describe()

,diff_dates,Max Date Diff,Min Date Diff
count,10414408,10414408,10414408
mean,155 days 06:50:52.337492450,315 days 15:38:49.381833316,22 days 15:21:40.827392201
std,104 days 14:34:34.620793992,64 days 13:33:57.493716459,31 days 12:21:43.244921851
min,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
25%,66 days 00:00:00,275 days 00:00:00,4 days 00:00:00
50%,144 days 00:00:00,336 days 00:00:00,11 days 00:00:00
75%,231 days 00:00:00,367 days 00:00:00,27 days 00:00:00
max,424 days 00:00:00,424 days 00:00:00,396 days 00:00:00

In [30]:
print(df_final.isnull().sum())

ac_id              0
purchase_date      0
webvisited_date    0
visited_page       0
diff_dates         0
Max Date Diff      0
Min Date Diff      0
dtype: int64

In [34]:
df_june1 = df_final.loc[df_final['purchase_date'] == "6/1/18"]
df_june1

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
1471,ACfff78403-a063-4fb7-82fc-5341f5a5dc9d,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,6 days
1684,ACfff66a29-73b8-44d9-ae8d-1aa502aa1286,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,9 days
1707,ACfff650e7-0760-4b72-abe4-70ed4b56a589,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,175 days
2208,ACfff38d49-0acd-4087-b096-788065682af8,6/1/18,6/15/17,PRICINGENGINE,351 days,370 days,48 days
2320,ACfff28c13-ba87-47f3-b783-c6070136202a,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,6 days
...,...,...,...,...,...,...,...
10407614,AC002b3723-cb64-41fb-9007-0067dd25d411,6/1/18,6/5/17,REWARDS,361 days,361 days,57 days
10408155,AC0027068a-6219-4887-9ba3-9c2389185c3d,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,13 days
10408896,AC0022300a-e8f3-4816-a910-d32ac608cc43,6/1/18,6/16/17,REWARDS,350 days,350 days,6 days
10408940,AC0021f037-deb4-497a-99e8-6bc89d03b9a2,6/1/18,6/14/17,MYACCOUNT,352 days,352 days,28 days
10414070,AC0003087f-e429-48c3-b95d-f593193827c0,6/1/18,1/16/18,PRICINGENGINE,136 days,163 days,7 days

In [35]:
# for row in df_final.iterrows():
#     if row["purchase_date"] == "6/1/18":
#         row["6/1/18"]

In [41]:
flag = ['6/1/18']
df_final['Purchase: 6/1/18'] = df_final['purchase_date'].isin(flag).astype(int)

In [42]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0
...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0

In [45]:
flag = []
for i in range(1,31):
    flag = []
    date = "6/"+str(i)+"/18"
    flag.append(date)
    df_final["Purchase: 6/"+str(i)+"/18"] = df_final['purchase_date'].isin(flag).astype(int)

In [46]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Purchase: 6/21/18,Purchase: 6/22/18,Purchase: 6/23/18,Purchase: 6/24/18,Purchase: 6/25/18,Purchase: 6/26/18,Purchase: 6/27/18,Purchase: 6/28/18,Purchase: 6/29/18,Purchase: 6/30/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
flag = []
for i in range(1,31):
    flag = []
    date = "6/"+str(i)+"/18"
    flag.append(date)
    df_final["Web Visit: 6/"+str(i)+"/18"] = df_final['webvisited_date'].isin(flag).astype(int)

In [48]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/21/18,Web Visit: 6/22/18,Web Visit: 6/23/18,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
df_final.dtypes

ac_id                          object
purchase_date                  object
webvisited_date                object
visited_page                   object
diff_dates            timedelta64[ns]
                           ...
Web Visit: 6/26/18              int64
Web Visit: 6/27/18              int64
Web Visit: 6/28/18              int64
Web Visit: 6/29/18              int64
Web Visit: 6/30/18              int64
Length: 67, dtype: object